{% extends "base.html" %}
{% block title %}
    给我留言|TmacKan的小站 
{% endblock %}
{% block path %}
    <a href = "{% url 'home'%}">当前位置&nbsp;:&nbsp;首页&nbsp;</a>»&nbsp;给我留言
{% endblock %}
{% block content %}
	
 <div class="archive">
             <div id="archives"> 
	<h5>
Hi:</br>
       &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;欢迎访问我的博客，你可以在下面留下你的足迹。^_^
	</h5>
  </div>
</div>
        {% include "blog/_comments.html" %}

	  
{% endblock %}

{% block side %}
	{% include "blog/_side.html" %}
{% endblock %}
